[View in Colaboratory](https://colab.research.google.com/github/tchappui/entrainement/blob/master/essai.ipynb)

In [0]:
import numpy as np
import pandas as pd

In [0]:
df = pd.DataFrame({'A': np.array([1,2,3,4,5]),
                   'B': np.array([1,2,3,4,5])})

   A  B
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5